#p1{
    color: chocolate;
    background-color: darkred;
}

#p2{
    color: cornflowerblue;
    background-color: black;
}

#p3{
    color: rgb(53, 0, 93);
    background-color: indianred;
    text-align: center;
}

.p2{
    color : black;
    background-color: aliceblue;
}

.hyungs{
    color: red;
    font-size: 40px;
}

.dongsangs{   
    list-style-type: none;
    padding: 0;
}

.leader{
    background-color: burlywood;
    padding: 30px;
    margin: 3px;
    border-style: dashed;
    border-width: thick;
    border-color: black;
}

.star{
    background-image: url("https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/star_fav.png");
    background-repeat: repeat-y;
    background-position-x: right;
}