#p1{
    color: chocolate;
    background-color: darkred;
}

#p2{
    color: cornflowerblue;
    background-color: black;
}

#p3{
    color: rgb(53, 0, 93);
    background-color: indianred;
    text-align: center;
}

.p2{
    color : black;
    background-color: aliceblue;
}

.hyungs{
    color: red;
    font-size: 40px;
}

.dongsangs{   
    list-style-type: none;
}